* {
  margin: auto;
  padding: auto;
  font-family: "Lato", sans-serif;
  align-items: center;
}
.ourteam {
  background-color: #292929;
  border-radius: 25px;
  color: white;
  font-weight: 900;
  max-width: 90%;
}
.card img {
  border-radius: 30px;
  height: 180px;
  width: 220px;
  margin-left: -1px;
  margin-top: -1px;
}
.linked img {
  height: 35px;
  width: 35px;
  margin-right: 125px;
  margin-top: -70px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  border-radius: 30px;
  height: 315px;
  width: 220px;
  margin-bottom: 50px;
  color: #292929;
}
.name {
  font-weight: 800;
  color: #292929;
  font-size: large;
}
.desig {
  font-weight: lighter;
  font-size: 0.85em;
}
.email {
  text-align: right;
  margin-top: -35px;
  font-weight: lighter;
  margin-right: -12px;
  color: gray;
  font-size: 0.82em;
}
.phone {
  text-align: right;
  margin-top: -1px;
  font-weight: lighter;
  margin-right: 13px;
  color: gray;
  font-size: 0.82em;
}
